.App {
  text-align: center;
}
body {
  max-width: 100%;
  max-height: 100%;
  overflow: scroll;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.about-background {
  top: 5vh;
  width: 100%;
  height: 150vh;
  background: linear-gradient(rgb(4, 4, 80), rgb(219, 212, 248));
  overflow: visible;
}
.project-background {
  top: 5vh;
  width: 100%;
  height: 160vh;
  background-image: linear-gradient(rgb(5, 4, 4), rgba(255, 255, 255, 0.726));
  overflow: visible;
}
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 0 0 3px 3px;
  opacity: 1;
  border-style: none;
  background: black;
  transition: 0.2s;
}

.link {
  padding: 17px;
  color: lightgrey;
  text-decoration: none;
  transition: 0.2s;
}
.link:hover {
  color: white;
  text-decoration: none;
}
.navbar {
  background: rgb(34, 33, 33);
}
.nav-item {
  background: rgb(34, 33, 33);
}
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

@media only screen and (max-width: 767px) {
  .training {
    font-size: 16px;
    line-height: 200%;
  }
  .link-box {
    border-bottom: solid 0.1px rgba(124, 122, 122, 0.7);
  }

  .my-modal {
    width: 97vw;
  }

  .about {
    font-family: "Roboto";
    color: white;
    position: absolute;
    top: 180px;
    width: 100%;
  }
  .title .name {
    font-size: 30px;
    width: 100%;
  }
  .skill-head {
    margin-top: 15%;
    width: 12%;
    text-align: right;
    font-size: 18px;
    border-right: solid white 0.1px;
    padding: 1% 1% 1% 0;
    display: inline-block;
  }
  .skill-icon {
    width: 88%;
    padding: 1% 1% 1% 0;
    display: inline-block;
  }
  .icon {
    width: 11%;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    font-size: 30px;
  }

  .profile-pic {
    width: 50%;
    overflow: hidden;
    border-radius: 50%;
    border: solid 4px white;
  }
  .title {
    position: relative;
    width: 100%;
    padding-top: 100px;
    border-bottom: solid 1px white;
  }
  .me {
    position: relative;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    padding-top: 13px;
  }
  .me .desc {
    font-size: 18px;
  }
}
@media only screen and (min-width: 767px) {
  .skills {
    position: absolute;
    top: 500px;
  }
  .active {
    padding: 14.5px 0;
    border-bottom: solid 1.5px white;
  }
  .about {
    font-family: "Roboto";
    color: white;
    position: absolute;
    top: 130px;
    width: 100%;
    height: 80%;
  }
  .image {
    margin-left: 5%;
    width: 20%;
    display: inline-block;
  }
  .profile-pic {
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    border: solid 3px white;
  }
  .title {
    position: relative;
    width: 75%;
    vertical-align: top;
    display: inline-block;
    border-bottom: solid 1px white;
    padding-bottom: 10%;
    margin-bottom: -10%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1000px) {
  .me {
    position: relative;
    margin-left: 25%;
    width: 65%;
    margin-right: 10%;
    text-align: left;
    display: inline-block;
    padding-top: 10%;
    margin-top: -10%;
  }
}
@media only screen and (min-width: 1000px) {
  .me {
    position: relative;
    margin-left: 25%;
    width: 55%;
    margin-right: 20%;
    text-align: left;
    display: inline-block;
    padding-top: 10%;
    margin-top: -10%;
  }
}

@media only screen and (min-width: 1000px) {
  .my-modal {
    width: 70vw;
  }
  .title .name {
    font-size: 50px;
  }
  .skill-head {
    width: 15%;
    text-align: right;
    font-size: 36px;
    border-right: solid white 0.1px;
    padding: 1% 1% 1% 0;
    display: inline-block;
  }
  .skill-icon {
    width: 85%;
    padding: 1% 1% 1% 0;
    display: inline-block;
  }
  .icon {
    width: 8%;
    display: inline-block;
    text-align: center;
    font-size: 40px;
  }

  .me .desc {
    font-size: 28px;
    position: absolute;
    top: 0;
    left: 1.2%;
  }
  .training {
    font-size: 20px;
    line-height: 200%;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 767px) {
  .my-modal {
    width: 97vw;
  }
  .list {
    position: absolute;
    width: 100%;
    top: 100px;
    text-align: center;
    font-size: 38px;
    color: white;
    font-weight: lighter;
  }
  .project-background {
    background-size: 200% 150vh;
    height: 150vh;
  }
  .indi-pro {
    position: absolute;
    left: 1.5%;
    top: 200px;
  }
  .indi-pro-2 {
    position: absolute;
    right: 1.5%;
    top: 200px;
  }
  .indi-pro-3 {
    position: absolute;
    left: 1.5%;
    top: 800px;
  }
  .indi-pro-4 {
    position: absolute;
    right: 1.5%;
    top: 800px;
  }
  .project-list {
    width: 47%;
    display: inline-block;
  }
  .project-desc {
    height: 500px;
  }
  .title .name {
    font-size: 40px;
  }
  .skill-head {
    width: 15%;
    text-align: right;
    font-size: 24px;
    border-right: solid white 0.1px;
    padding: 1% 1% 1% 0;
    display: inline-block;
  }
  .skill-icon {
    width: 85%;
    padding: 1% 1% 1% 0;
    display: inline-block;
  }
  .icon {
    width: 11%;
    display: inline-block;
    text-align: center;
    font-size: 40px;
  }

  .me .desc {
    font-size: 22px;
    position: absolute;
    top: 0;
    left: 1.2%;
  }
  .training {
    font-size: 18px;
    line-height: 200%;
  }
}
@media only screen and (max-width: 767px) and (min-width: 600px) {
  .list {
    position: absolute;
    width: 100%;
    top: 200px;
    text-align: center;
    font-size: 38px;
    color: white;
    font-weight: lighter;
  }
  .indi-pro {
    position: absolute;
    left: 1.5%;
    top: 300px;
  }
  .indi-pro-2 {
    position: absolute;
    right: 1.5%;
    top: 1100px;
  }
  .indi-pro-3 {
    position: absolute;
    left: 1.5%;
    top: 1900px;
  }
  .indi-pro-4 {
    position: absolute;
    right: 1.5%;
    top: 2700px;
  }
  .project-list {
    width: 97%;
    display: inline-block;
  }
  .project-desc {
    height: 670px;
  }
}
@media only screen and (max-width: 600px) and (min-width: 400px) {
  .list {
    position: absolute;
    width: 100%;
    top: 200px;
    text-align: center;
    font-size: 38px;
    color: white;
    font-weight: lighter;
  }
  .indi-pro {
    position: absolute;
    left: 1.5%;
    top: 300px;
  }
  .indi-pro-2 {
    position: absolute;
    right: 1.5%;
    top: 980px;
  }
  .indi-pro-3 {
    position: absolute;
    left: 1.5%;
    top: 1660px;
  }
  .indi-pro-4 {
    position: absolute;
    right: 1.5%;
    top: 2340px;
  }
  .project-list {
    width: 97%;
    display: inline-block;
  }
  .project-desc {
    height: 550px;
  }
}
@media only screen and (max-width: 400px) {
  .list {
    position: absolute;
    width: 100%;
    top: 200px;
    text-align: center;
    font-size: 38px;
    color: white;
    font-weight: lighter;
  }
  .indi-pro {
    position: absolute;
    left: 1.5%;
    top: 300px;
  }
  .indi-pro-2 {
    position: absolute;
    right: 1.5%;
    top: 900px;
  }
  .indi-pro-3 {
    position: absolute;
    left: 1.5%;
    top: 1500px;
  }
  .indi-pro-4 {
    position: absolute;
    right: 1.5%;
    top: 2100px;
  }
  .project-list {
    width: 97%;
    display: inline-block;
  }
  .project-desc {
    height: 450px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  .list {
    position: absolute;
    width: 100%;
    top: 100px;
    text-align: center;
    font-size: 38px;
    color: white;
    font-weight: lighter;
  }

  .indi-pro {
    position: absolute;
    left: 1.5%;
    top: 200px;
  }
  .indi-pro-2 {
    position: absolute;
    left: 35%;
    top: 200px;
  }
  .indi-pro-3 {
    position: absolute;
    right: 1.5%;
    top: 200px;
  }
  .indi-pro-4 {
    position: absolute;
    left: 1.5%;
    top: 850px;
  }
  .project-list {
    width: 30%;
    display: inline-block;
  }
  .project-desc {
    height: 480px;
  }
}
@media only screen and (min-width: 1400px) {
  .list {
    position: absolute;
    width: 100%;
    top: 100px;
    text-align: center;
    font-size: 38px;
    color: white;
    font-weight: lighter;
  }
  .indi-pro {
    position: absolute;
    left: 1.5%;
    top: 200px;
  }
  .indi-pro-2 {
    position: absolute;
    left: 35%;
    top: 200px;
  }
  .indi-pro-3 {
    position: absolute;
    right: 1.5%;
    top: 200px;
  }
  .indi-pro-4 {
    position: absolute;
    left: 1.5%;
    top: 910px;
  }
  .project-desc {
    height: 600px;
  }
  .project-list {
    width: 30%;
    display: inline-block;
  }
}

.components {
  margin-top: 50px;
  width: 100%;
}
#button {
  text-align: right;
  display: inline-block;
  width: 5%;
  font-size: 30px;
  color: grey;
  vertical-align: top;
}
#button:hover {
  color: white;
  cursor: pointer;
}
.project-header {
  text-align: left;
}
.project-title {
  width: 95%;
  display: inline-block;
  padding: 1% 0;
  font-weight: lighter;
  font-size: 26px;
}
.project-desc {
  text-align: center;
  font-size: 20px;

  background-image: linear-gradient(white, silver);
}
.project-img {
  margin: 5% 25%;
  width: 50%;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 5px #c0c0c0;
}
.project-img:hover {
  cursor: pointer;
}
.project-img2 {
  margin: 5% 6%;
  width: 88%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 5px #c0c0c0;
}
.project-img2:hover {
  cursor: pointer;
}
.project-img3 {
  margin: 5% 5%;
  width: 90%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 5px #c0c0c0;
}
.project-img3:hover {
  cursor: pointer;
}
.project-img4 {
  margin: 5% 10%;
  width: 75%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 5px #c0c0c0;
}
.project-img4:hover {
  cursor: pointer;
}
.details {
  position: absolute;
  left: 0%;
  top: 87%;
  border-style: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: 300;
  width: 60%;
  margin: 1% 20%;
  padding: 1% 0;
  border-radius: 3px;
}
.details:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.details:active {
  background-color: black;
}
.modal-image {
  width: 100%;
  border-radius: 5px;
}
.title .name {
  font-weight: lighter;
  position: absolute;
  bottom: 10px;
  left: 1%;
}

.navbar-nav span[role="button"] {
  padding: 14px;
  display: inline-block;
  line-height: 23px;
}

.skills {
  font-family: "Roboto";
  color: white;
  width: 100%;
  text-align: left;
}
.tools {
  width: 20%;
  font-weight: 400;
  padding-right: 2%;
  text-align: right;
  display: inline-block;
  vertical-align: top;
}
.skillset {
  font-size: 80%;
  padding-left: 2%;
  text-align: left;
  border-left: solid black 0.1px;
  width: 80%;
  display: inline-block;
}
.wrapper-skill {
  margin-top: 8px;
  width: 100%;
}
.to-project {
  width: 5%;
  color: rgb(131, 201, 166);
  font-size: 120%;
  transition: 0.2s;
}
.to-project:hover {
  color: rgb(131, 201, 166);
  text-decoration: none;
  font-size: 150%;
  cursor: pointer;
}
.bootstrap-img {
  filter: brightness(300%);
}
